
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- page specific plugin scripts -->
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/dataTables.bootstrap.min.js"></script>

	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try {
				ace.settings.check('breadcrumbs', 'fixed')
			} catch(e) {}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-user"></i>
				<a href="#">系统管理</a>
			</li>

			<li>
				<a href="#">权限管理</a>
			</li>
			<li class="active">操作员管理</li>
		</ul>
		<!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
			</form>
		</div>
		<!-- #nav-search -->
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-sm-12 widget-container-span">
						<div class="widget-box">
							<div class="widget-header">
								<h5>操作员管理</h5>
							</div>
							<div class="widget-body">
								<div class="widget-main">
									<form class="form-inline">
										<div class="form-group">
											<label class="control-label">所属商户:</label>
											<select name="merLoginId" class="form-control">
												<option value="">全部</option>
												<option value="console">平台</option>
												<option th:each="tblMerInfo:${tblMerInfoList}" th:value="${tblMerInfo.merLoginId}"
														th:text="${tblMerInfo.merName}">商户登录账号</option>
											</select>
										</div>
										<div class="form-group">
											<label>操作员登录账号:</label>
											<input type="text" class="form-control" id="operatorLoginIdQuery" name="operatorLoginId" placeholder="操作员登录账号:" />
										</div>
										<div class="form-group">
											<label class="control-label">状态:</label>
											<select id="statQuery" name="stat" class="form-control">
												<option value="">全部</option>
												<option value="1">正常</option>
												<option value="2">锁定</option>
											</select>
										</div>
										<button id="search" shiro:hasPermission="/system/auth/operator_manager/operators" type="button" class="btn btn-primary">查询</button>
										<button type="button" shiro:hasPermission="/system/auth/operator_manager/addOperator" data-toggle="modal" data-target="#addOperator" class="btn btn-info" style="float: right; margin-right: 1px;">新增</button>
										<button type="button" shiro:hasPermission="/system/auth/operator_manager/deleteOperator" onclick="delById();" class="btn btn-info" style="float: right; margin-right: 1px;">删除</button>
										<button type="button" shiro:hasPermission="/system/auth/role_manager/rolesWithSelected" onclick="allotRole();" class="btn btn-info" style="float: right; margin-right: 1px;">分配角色</button>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="space"></div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover"  id="datatable">
							<thead>
							<tr>
								<th class="center">
									<input type="checkbox" class="checkall" />
								</th>
								<th class="center">操作员ID</th>
								<th class="center">所属商户</th>
								<th class="center">操作员名称</th>
								<th class="center">操作员描述</th>
								<th class="center">操作员登录账号</th>
								<th class="center">状态</th>
								<th class="center">是否强制更新密码</th>
								<th class="center">最近登录IP</th>
								<th class="center">登录失败次数</th>
								<th class="center">更新人</th>
								<th class="center">更新时间</th>
								<th class="center">创建时间</th>
							</tr>
							</thead>
						</table>
							</div>
					</div>

				</div>
				<!--弹框-->
				<div class="modal fade" id="selectRole" tabindex="-1" role="dialog" aria-labelledby="selectRoleLabel">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="selectRoleLabel">分配角色</h4>
							</div>
							<div class="modal-body">
								<form id="boxRoleForm">

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" onclick="saveOperatorRoles();" class="btn btn-primary">保存</button>
							</div>
						</div>
					</div>
				</div>
				<!--/弹框-->

				<!--添加弹框-->
				<div class="modal fade" id="addOperator" tabindex="-1" role="dialog" aria-labelledby="addOperatorLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="addroleLabel">添加用户</h4>
							</div>
							<div class="modal-body">
								<form id="operatorForm">
									<div class="form-group">
										<label class="control-label">所属商户:</label>
										<select id="merLoginId" class="form-control" name="merLoginId">
											<option value="">请选择</option>
											<option value="console">平台</option>
											<option th:each="tblMerInfo:${tblMerInfoList}" th:value="${tblMerInfo.merLoginId}"
													th:text="${tblMerInfo.merName}">商户登录账号</option>
										</select>
									</div>
									<div class="form-group">
										<label>操作员名称:</label>
										<input type="text" class="form-control" id="operatorName" name="operatorName" placeholder="操作员名称:" />
									</div>
									<div class="form-group">
										<label>操作员登录账号:</label>
										<input type="text" class="form-control" id="operatorLoginId" name="operatorLoginId" placeholder="操作员登录账号:" />
									</div>
									<div class="form-group">
										<label>操作员登录密码:</label>
										<input type="password" class="form-control" id="operatorLoginPwd" name="operatorLoginPwd" placeholder="操作员登录密码:" />
									</div>
									<div class="form-group">
										<label>操作员描述:</label>
										<textarea class="form-control" id="operatorDesc" name="operatorDesc" placeholder="操作员描述:"></textarea>

									</div>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" onclick="addOperator();" class="btn btn-primary">保存</button>
							</div>
						</div>
					</div>
				</div>
				<!--/添加弹框-->
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->

<script type="text/javascript">
	/*<![CDATA[*/

	$(".checkall").click(function () {
		var check = $(this).prop("checked");
		$(".checkchild").prop("checked", check);
	});
	var table
	jQuery(function($) {
		table = $('#datatable').DataTable({
			"dom": '<"top"i>rt<"bottom"flp><"clear">',
			"searching" : false,
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"language":{
				"url": "/assets/other/Chinese.json"
			},
			"processing": true, //打开数据加载时的等待效果
			"serverSide": true,//打开后台分页
			ajax : function(data, callback, settings) {
				//封装请求参数
				var param = getQueryCondition(data);

				$.ajax({
					type: "GET",
					url: '/system/auth/operator_manager/operators',
					cache : false,  //禁用缓存
					data: param,    //传入已封装的参数
					dataType: "json",
					success: function(result) {
						//封装返回数据  如果参数相同，可以直接返回result ，此处作为学习，先这么写了。
						var returnData = {};
						returnData.draw = result.draw;//这里直接自行返回了draw计数器,应该由后台返回
						returnData.recordsTotal = result.recordsTotal;//总记录数
						returnData.recordsFiltered = result.recordsFiltered;//后台不实现过滤功能，每次查询均视作全部结果
						returnData.data = result.data;
						//调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
						//此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
						callback(returnData);
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						alert("查询失败");
					}
				});
			},
			"columns": [
				{
					"sClass": "center",
					"data": "operatorId",
					"render": function (data, type, full, meta) {
						return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
					}
				},
				{"sClass": "center","data": "operatorId"},
				{"sClass": "center","data": "merLoginId"},
				{"sClass": "center","data": "operatorName"},
				{"sClass": "center","data": "operatorDesc"},
				{"sClass": "center","data": "operatorLoginId"},
				{  "sClass": "center",
					"data": "stat",
					"render": function (data, type, full, meta) {
						if(data == 1) {
							return '<span class="label label-sm label-success" th:if="${stat == 1}">正常</span>'
						} else {
							return '<span class="label label-sm label-warning" th:if="${stat == 2}">锁定</span>'
						}
					}
				},
				{   "sClass": "center",
					"data": "forcedUpdatePwdStat",
					"render": function (data, type, full, meta) {
						if(data == 1) {
							return '是'
						} else {
							return '否'
						}
					}
				},
				{"sClass": "center","data": "lastLoginIp"},
				{"sClass": "center","data": "loginFailCount"},
				{"sClass": "center","data": "lastUpdateOperator"},
				{"sClass": "center", "data": "updateTime"},
				{"sClass": "center", "data": "createTime"}
			],
			columnDefs: [
				{"orderable": false, "targets": 0},
				{"orderable": false, "targets": 1},
				{"orderable": false, "targets": 2},
				{"orderable": false, "targets": 3},
				{"orderable": false, "targets": 4},
				{"orderable": false, "targets": 5},
				{"orderable": false, "targets": 6},
				{"orderable": false, "targets": 7},
				{"orderable": false, "targets": 8},
				{"orderable": false, "targets": 9},
				{"orderable": false, "targets": 10},
				{"orderable": false, "targets": 11},
				{"orderable": false, "targets": 12}

			],

		});

		$("#search").on('click', function () {
			table.ajax.reload();
		});

	})

	//封装查询参数
	function getQueryCondition(data){
		var param = {};
		//组装排序参数
		param.operatorLoginId = $("#operatorLoginIdQuery").val();//查询条件
		param.stat = $("#statQuery").val();//查询条件
		//组装分页参数
		param.start = data.start;
		param.length = data.length;
		param.draw = data.draw;
		return param;
	}

	//弹出选择角色的框
	function allotRole() {
		var id = $(".checkchild:checked").val();
		if($(".checkchild:checked").length < 1) {
			layer.msg('请选择一条数据');
			return;
		}
		if($(".checkchild:checked").length > 1) {
			layer.msg('一次只能修改一条数据');
			return;
		}
		$.ajax({
			async: false,
			type: "POST",
			data: {
				operatorId: id
			},
			url: '/system/auth/role_manager/rolesWithSelected',
			dataType: 'json',
			success: function(data) {
				$("#boxRoleForm").empty();
				var htm = "<input type='hidden' name='operatorId' value='" + id + "'>";
				for(var i = 0; i < data.length; i++) {
					htm += "<div class='checkbox'><label><input type='checkbox' name='roleId' value='" + data[i].roleId + "'";
					if(data[i].selected == 1) {
						htm += " checked='checked'";
					}
					htm += "/>" + data[i].roleName + "</label></div>";
				}
				$("#boxRoleForm").append(htm);
			}
		});

		$('#selectRole').modal();
	}

	//保存角色的选择
	function saveOperatorRoles() {
		$.ajax({
			cache: true,
			type: "POST",
			url:'saveOperatorRoles',
			data:$('#boxRoleForm').serialize(),// 你的formid
			async: false,
			success: function(data) {
				if(data=="success"){
					layer.msg('保存成功');
					$('#selectRole').modal('hide');
				}else{
					layer.msg('保存失败');
					$('#selectRole').modal('hide');
				}
			}
		})
	}

	//添加用户
	function addOperator() {
		var merLoginId = $("#merLoginId").val();
		var operatorName = $("#operatorName").val();
		var operatorLoginId = $("#operatorLoginId").val();
		var operatorLoginPwd = $("#operatorLoginPwd").val();

		if(merLoginId == "" || merLoginId == undefined || merLoginId == null){
			return layer.msg('请选择所属商户', function(){
				//关闭后的操作
			});
		}
		if(operatorName == "" || operatorName == undefined || operatorName == null){
			return layer.msg('操作员名称不能为空', function(){
				//关闭后的操作
			});
		}
		if(operatorLoginId == "" || operatorLoginId == undefined || operatorLoginId == null){
			return layer.msg('操作员登录账号不能为空', function(){
				//关闭后的操作
			});
		}
		if(operatorLoginPwd == "" || operatorLoginPwd == undefined || operatorLoginPwd == null){
			return layer.msg('操作员登录密码不能为空', function(){
				//关闭后的操作
			});
		}

		$.ajax({
			cache: true,
			type: "POST",
			url:'/system/auth/operator_manager/addOperator',
			data:$('#operatorForm').serialize(),// 你的formid
			async: false,
			success: function(data) {
				if(data=="success"){
					layer.msg('保存成功');
					$('#addOperator').modal('hide');
				}else{
					layer.msg(data);
					$('#addOperator').modal('hide');
				}
			}
		});
	}

	function delById() {
		var id = $(".checkchild:checked").val();
		if ($(".checkchild:checked").length < 1)
		{
			layer.msg('请选择一条数据');
			return;
		}
		if ($(".checkchild:checked").length > 1)
		{
			layer.msg('一次只能修改一条数据');
			return;
		}
		layer.confirm('您确定要删除该角色吗？', {
			btn: ['确认','取消'] //按钮
		}, function(){
			$.ajax({
				cache: true,
				type: "POST",
				url:'/system/auth/operator_manager/deleteOperator',
				data:{id:id},
				async: false,
				success: function(data) {
					if(data=="success"){
						layer.msg('删除成功');
						table.ajax.reload();
					}else{
						layer.msg('删除失败');
					}
				}
			});
		});


	}

	/*]]>*/
</script>
</html>
